apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: ingress-{{- include "metrics.fullname" . }}
  namespace: {{ include "metrics.namespace" . }}
spec:
  rules:
  - host: {{ .Values.specingress.host }}
    http: 
      paths:
      - path: {{ .Values.httpGet.path }}
        pathType: ImplementationSpecific
        backend:
          service: 
            name: service-nginx-{{- include "metrics.fullname" . }}
            port:
              number: {{ .Values.specingress.port }}
   
